* {
	box-sizing: border-box;
}

body {
    font-family: 'Lora', serif;
    color: #555555;
    font-size: 10pt;
	display: block;
    margin: 8px;
}


#tartalom {
	max-width: 700px;
    width: 90%;
    margin: 0 auto;
}
#fejlec {

}

#fejlec img {
	max-width: 700px;
	margin: 0 auto;
	width: 100%;
}
#recept {
	
}

#bevezeto {

	
}
.fank {
	float: left;
    max-width: 421px;
    width: 100%;
    padding: 0 0 20px 0;

}
#hozzavalok {
	padding: 0 20px 0 20px;
    float: left;

}

#reszletek {
	content: '';
    clear: both;
    display: table;

}
#sztori {
	max-width: 310px;
    float: left;
    padding: 10px 0 0 20px;

}
#elkeszites {
	max-width: 380px;
    float: left;
    padding: 10px 20px 0 20px;
}
h2{
    margin: 0;
    padding: 0 0 10px 0;	
}
li {
    line-height: 22px;
}
ol {
    padding: 0 0 0 20px;
}


    